body {
    font-size: 15px;
    margin:0;
    background-color: #fff0e6;
    font-family: Arial, Helvetica, sans-serif;
}
* { 
    box-sizing: border-box;
}
:root { 
    --btnColor: rebeccapurple
}
.welcome, .result_card{ 
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.welcome input { 
    padding: 10px;
    margin: 10px auto;
    background-color: transparent;
    border: 3px solid lawngreen;
    border-radius: 20px;
    outline: none;
}
.welcome button, .result_card button {
    border: none;
    padding: 5% 20%;
    border-radius: 15px;
    background-color: lawngreen;
}
.result_card { 
    display: none;
    animation: 2s variableColor ease-in infinite;
    background: linear-gradient(45deg, #660000, #00334d, #004d00);
    background-size: 900% 100%;
    border-radius: 15px;
    color: white;
    padding: 7% 5%;
}
.app_container { 
    margin: 12px;
    background: linear-gradient(45deg, #660000, #00334d, #004d00);
    background-size: 900% 100%;
    border-radius: 15px;
    color: white;
    padding: 7% 5%;
    animation: 4s variableColor ease-in infinite;
    animation-direction: alternate;
}
@keyframes variableColor { 
    0% { background-position: 0%}
    100% { background-position:100%;}
}
    

.options { 
    display: inline-block;
    height: 40px;
    width: 80%;
    margin: 5px auto;
    overflow: scroll;
    background-color: black;
    border-radius: 0 15px 15px 0;
    transition: 0.2s;
}
.options:hover { 
    background-color: red;
}
.next { 
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #33ab4d;
}
label { 
    color: white;
    font-size: 15px;
    transition: 0.4s;
}
label:hover { 
    font-size: 20px;
}
.active { 
    animation: fadeIn 1s;
}
@keyframes fadeIn { 
    0% { 
        transform: translate(50px, 0);
        opacity: 0;
    }
    100% { 
        transform: translate(0px, 0);
        opacity: 1;
    }
}
