body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.view {
    position: static;
    padding-top: 60%;
    margin-bottom: 0;
    text-align:center;
}
#table { 
    position:relative;
    width:60%;
    z-index: -1;
}
#book {
    width:30%;
    height:auto;
    bottom:5px;
    z-index: 1;
    position: absolute;
    top:15%; left: 35%;
    box-shadow: 5px 6px 10px grey;
}
.description {
    font-size:10pt;
    box-sizing:inline-block;
    background-color: #aa80ff;
    border-radius: 30px 30px 0 0;
    border: 2px solid black;
    position: fixed; bottom: 0;
    padding: 10% 5% 10% 5%;
    line-height:1.5;
}
#title {
    margin:2% 0;
    margin-right:50%;
}
#author {color:white}
#cart, #price {
    box-sizing:border-box;
    font-size:12pt;
    padding: 8px 18px;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 3px 2px 0 black;
    margin: 0; font-weight: 600;
}
#cart {
    background-color:orange;
    float:right;
}
#price {
    background-color:white;
}
