body {
    font-size: 15px;
    margin: 0;
    color: white;
    /*background: JS using album art as background image*/
    backdrop-filter: blur(5px) brightness(60%);
}
* { 
    box-sizing: border-box;
}
/*"""""""""ANIMATIONS"""""""""*/
.fade { 
    animation: fade 0.5s;
}
@keyframes fade { 
    0% { 
        transform: translate(-30px, 0);
        filter: blur(8px);
    }
    100% { 
        transform: translate(0px, 0);
        filter: blur(0px);
    }
}
.swoop { 
    animation: swoop 0.5s;
}
@keyframes swoop { 
    0% { 
        transform: translate(30px, 0);
        filter: blur(8px);
    }
    100% { 
        transform: translate(0px, 0);
        filter: blur(0px);
    }
}
/*"""""""TOGGLE HEADER"""""""*/
.head { 
    display: grid;
    grid-template-columns: 50% 50%
}
.head p{ 
    width: 80%;
    margin: 10px auto;
    text-align: center;
    padding: 5px 3px ;
    border-radius: 20px;
    transition: 0.2s;
}
.active { 
    background-color:white;
    color: black;
    
}
.player_section { 
    display: none;
    
}
/*"""""""""PLAYER SECTION"""""""""*/


.album_info { 
    margin: 20px auto 60px auto;
    width: 80%;
    text-align: center;
}
.album_art { 
    width: 100%;
    display: inline-block;
    height: 288px;
    /*animation: spin 3s infinite linear;*/
    border-radius: 50%;
    background: url("album_art.jpg") no-repeat center fixed;
    background-size: cover;
    
}
@keyframes spin { 
    0% { transform: rotate(0deg)};
    50% { transform: rotate(180deg)}
    100% { transform: rotate(360deg)};
}
.album_art img { 
    position: relative;
    width: 100%;
    height: 100%;
   
}
audio { 
    display:none;
    width: 100%;
}
.slider_container { 
    text-align: center;
}
.prevBtn, .nextBtn, .pauseBtn { 
    margin: auto 13px;
    display: inline;
}
.controls { 
    text-align: center;
    margin: 40px auto;
}
button { 
    background-color: transparent;
    color: white;
    border:none;
}
.buttons { 
    border: 2px solid #00b300;
    border-radius: 50%;
    padding: 30px;
}
.buttons_container { 
    margin: 40px auto;
}
/*"""""""""PLAYLIST SECTION"""""""""*/

.playlist_section {
    padding: 10px 10px;
}
.music_item { 
    border: 0px solid white;
    border-bottom-width: 1px; 
    display: grid;
    grid-template-columns: 50px calc(100% - 50px);
    grid-column-gap: 10px
}
.music_item img { 
    width: 100%;
    
}
a { 
    text-decoration: none;
    color: white;
}
